.header {
  /* fix the header on the top of the page */
  position: fixed;
  width: 100%;
  left: 0px;
  top: 20px;
  padding: 25px 23px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__title {
  /* including both .parent .child class names just to be more specific */
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 21px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  /* so that header__back-btn will be flexed as well;
    the button's parent class is not header, but header__header-column */
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
